/* ********************************
            RESET
******************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

.debug {
    border: 1px solid red;
}

/* ********************************
            ROOT VARIABLES
******************************** */
:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
}

/* ********************************
            GLOBAL
******************************** */


/* ********************************
            POSITION
******************************** */
/* .pos-rel {
    position: relative;
}
 */

/* ********************************
            FLEX
******************************** */
.d-flex {
    display: flex;
}

.j-between {
    justify-content: space-between;
}

.f-collumn {
    flex-direction: column;
}



/* ********************************
            BODY
******************************** */


body {
    font-family: "Montserrat", sans-serif;
    color: var(--color-light);
    background-color: var(--color-dark);

}

#middle {

    width: 100%;
    height: calc(100vh - 100px);

}

#sidebar {
    width: 300px;
    background-color: var(--color-black);
    padding: 15px;
    ;
}

#home {
    padding: 15px;
    /* flex-grow: 3; */
}

#home a {
    text-decoration: none;
    margin-bottom: 10px;
    color: var(--color-lightgrey)
}

#home a:hover {
    color: var(--color-light);
    border-left: 3px solid var(--color-highlight);
    /* SPOSTARE PIU A SINISTRA IL BORDER */
}

#playlist {
    padding: 15px;
}

/* non funziona */
#playlist ul li a {
    margin-bottom: 10px;
    color: var(--color-lightgrey);
}

/* manca tutta la parte dell user */
#user {
    height:

}

/* #user {
    position: absolute;
    top: 85vh;
} */

/* #sidebar>div:nth-child(2) {
    flex-grow: 4;
} */


/* ********************************
            FOOTER
******************************** */
footer {
    background-color: var(--color-darkgrey);
    color: var(--color-light);
    flex-shrink: 0;
    flex-grow: 0;
    height: 100px;
    width: 100%;
}