/* ********************************
            RESET
******************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

.debug {
    border: 1px solid red;
}

/* ********************************
            ROOT VARIABLES
******************************** */
:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
}
/* ********************************
            GLOBAL
******************************** */


/* ********************************
            FLEX
******************************** */
.d-flex {
    display: flex;
}
.j-between {
    justify-content: space-between;
}



/* ********************************
            BODY
******************************** */
/* Header */
header {
    height: 80px;
    width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--color-light) ;
    background-color: var(--color-dark);
    
}
#middle {

width: 100%;
/* width: calc(100% - 300px); */
height: calc(100vh - 180px);

}
#sidebar {
    width: 300px;
}

/* ********************************
            FOOTER
******************************** */
footer {
    background-color: var(--color-darkgrey);
    color: var(--color-light);
    flex-shrink: 0;
    flex-grow: 0;
    height: 100px;
    width: 100%;
}